@import "pages/index.scss";

.home {
  position: relative;
  min-height: 100vh;
}

/***** Home grid *****/

.home-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.home-grid__column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.home-grid__column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 12px !important;
}

/***** Home pagination *****/

.home-pagination {
  margin: 2.5rem 0rem;
}

/***** Home item *****/

.home-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.home-item__animateIn {
  animation: fadein 450ms;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(18px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.home-item__title {
  font-weight: 400 !important;
  font-size: 0.8rem !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.1rem !important;
}

.home-item__details {
  padding: 0.45rem 0.25rem;
  @include desktop {
    padding: 0.45rem 0.35rem;
  }
}

.home-item__price {
  font-weight: 400 !important;
  font-size: 0.8rem !important;
  color: #787878 !important;
}

.home-item__currency {
  font-weight: 400 !important;
  font-size: 0.6rem;
}

/***** Home image *****/

.home-item__img-loading {
  min-height: 10rem;
  background-color: #f9f9f9;
}

.home-item__img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/***** Home footer *****/

.home-footer {
  border-top: solid 1px #dddddd;
  background-color: #ffffff;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.home-footer__copyright {
  margin-bottom: 1.75rem;
}

.home-footer__link {
  text-decoration: none;
  cursor: pointer;
}
