// Global styles

body {
  margin: 0;
  white-space: pre-wrap;
}

a {
  color: inherit !important;
}

.columns {
  margin: 0 !important;
}

/***** Custom Bulma variables *****/

// Screen size variables
$tablet: 768px;

// Font family variables
$title-family: "Airbnb Cereal App Medium";
$subtitle-family: "Airbnb Cereal App Light";
$button-family: "Airbnb Cereal App Medium";
$family-sans-serif: "Airbnb Cereal App Light";

// Color variables
$primary: #f36b7f;
$grey-darker: #484848;
$grey-light: #787878;

/***** Import Bulma sass modules *****/

// Bulma base modules
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/helpers.sass";
@import "~bulma/sass/base/generic.sass";

// Bulma layout
@import "~bulma/sass/grid/columns.sass";

// Bulma elements
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/content.sass";

/***** Fade up css-transition *****/

.fadeUp-enter,
.fadeUp-appear {
  opacity: 0;
  transform: translateY(20px);
}
.fadeUp-enter-active,
.fadeUp-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fadeUp-exit {
  opacity: 1;
  transform: translateY(0);
}
.fadeUp-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}
