.product-mobile__policy-item-description {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 2.75rem;
  margin-right: 0.5rem;
}

.product-mobile__policy-item-emoji {
  margin-right: 0.5rem;
}
