// Product mobile image

.product-mobile__img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.product-mobile__img-container {
  display: block !important;
  padding-bottom: 12rem;
  height: 0;
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.35s;
  opacity: 0.6;
}

.product-mobile__img-container--active {
  opacity: 1;
  padding-bottom: 14rem;
  transition: all 0.35s;
}

.product-mobile__img-container:active {
  opacity: 0.75;
  transition: all 0s;
}

.product-mobile__img-slider-wrapper {
  margin-bottom: 3rem;
  margin-top: 1rem;
  position: relative;
  background-color: #ffffff;
}

// Product mobile image modal

.product-mobile__img-modal-slider {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.product-mobile__img-modal-container {
  display: block;
  padding-bottom: 100%;
  height: 0;
  width: 100%;
  position: relative;
}

.product-mobile__img-modal {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.product-mobile__img-modal-close-icon {
  display: flex !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 1.5rem;
  z-index: 12;
  color: #484848;
  padding: 0.25rem;
  margin-left: 1.25rem;
  margin-top: 0.95rem;
}

.product-mobile__img-modal-close-icon:active {
  color: #d5d5d5;
}

.product-mobile__img-modal-slider-counter {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12;
  color: #484848;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.25rem 0.65rem;
  margin-right: 1.25rem;
  margin-top: 0.95rem;
  border-radius: 0.25rem;
}

// Swiper mobile override styling

.swiper-wrapper {
  align-items: center;
}

.swiper-container {
  overflow: visible !important;
  height: 15rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute !important;
  left: 1% !important;
  bottom: -33px !important;
  z-index: 50 !important;
  width: 98% !important;
  touch-action: none;
}

.swiper-scrollbar {
  border-radius: 0px !important;
  height: 1.25px !important;
  background: #e5e5e5 !important;
  touch-action: none;
}

.swiper-scrollbar-drag {
  border-radius: 0px !important;
  height: 3px !important;
  background: #484848 !important;
  top: -2.5px !important;
  touch-action: none;
}
