@import "pages/index.scss";

.logo-loader {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-loader__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;

  @include tablet {
    width: 40%;
  }

  @include desktop {
    width: 30%;
  }
}

.logo-loader__title {
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
  line-height: 1.25rem !important;
  animation: fadeloop 1.35s ease-in-out infinite;
  text-indent: 0.7rem;
}

@keyframes fadeloop {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.15;
  }

  100% {
    opacity: 1;
  }
}
