@import "pages/index.scss";

.accordion-wrapper {
  border-bottom: solid 1px #e5e5e5;
}

.accordion-item {
  overflow: hidden;
  opacity: 0;

  transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
}

.accordion-item--open {
  opacity: 1;
}

.accordion-title {
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.accordion-title:hover {
  @include desktop {
    background-color: #f9f9f9;
  }
}

.accordion-title:active {
  background-color: #e5e5e5;
}

.accordion__icon {
  color: #484848;
  width: 1.5rem;
  margin-left: 0.75rem;
  flex-shrink: 0;

  transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
}

.accordion__icon--open {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
